<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="new.css">
    <title>相坂屋</title>
  </head>

	<div class="cp_cont">
		<div class="cp_offcm01">
			<input type="checkbox" id="cp_toggle01">
			<label for="cp_toggle01"><span></span></label>
			<div class="cp_menu">
			<ul>
			<li><a href="#">menu1</a></li>
			<li><a href="#">menu2</a></li>
			<li><a href="#">menu3</a></li>
			<li><a href="#">menu4</a></li>
			<li><a href="#">menu5</a></li>
			</ul>
			</div>
		</div>
		<div class="title">
			<h1>-相酒屋-</h1>
  	</div>
  		<div class="content">
			<h1>お好きなポイントをクリックして下さい</h1>
  	</div>
  	<div class="img_block">
    	<img src="https://img.furusato-tax.jp/img/x/stg/product/detail/details/20200910/spdd_330ef73978a23aa33c06b0ba7f8093b012b3b164.jpg
             " alt="トップ画像です" >
  	</div>
	</div>

</html>

